@charset "UTF-8";
:root {
  --color-primary: #ffd15b;
  --color-dark: #1b1b1b;
  --color-light: #fff;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 667px;
  text-align: center;
  background: url("/assets/png/background-logo.png") no-repeat;
  background-size: cover;
}

img {
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

main {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(0deg, #e5e5e5, #e5e5e5);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding: 0 102px;
}

/*header*/
.background-logo {
  height: 667px;
  width: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  width: 207px;
  height: 25.26px;
  top: 51px;
  left: 69px;
}

header > h1 {
  width: 60%;
  font-size: 44px;
  line-height: 66.24px;
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  margin-bottom: 29.42px;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 66px;
  column-gap: 46px;
  margin-top: 43px;
}

.custom-card {
  max-width: 380px;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.custom-image {
  width: 100%;
  height: 253px;
  border-radius: 21px 21px 0 0;
}

.custom-body {
  padding: 1rem;
}

.custom-title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  color: #1b1b1b;
  padding-bottom: 20px;
  padding-top: 20px;
}

.custom-subtitle {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #7a7a7a;
}

.custom-muted {
  color: #7a7a7a !important;
}

.custom-letter-spacing {
  letter-spacing: 0.09em !important;
}

.custom-description {
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
  font-family: "Manrope", sans-serif;
  padding-bottom: 20px;
}

.custom-ingredients {
  margin-top: 5px;
}

.custom-ingredient-name {
  font-weight: 400;
  font-size: 14px;
  color: #1b1b1b;
  margin-bottom: 0;
}

.custom-ingredient-quantity {
  font-size: 14px;
  color: #7a7a7a;
}

.duration-badge {
  background-color: #ffd15b;
  border-radius: 14px;
  width: auto;
  height: 26px;
  position: absolute;
  top: 21px;
  right: 22px;
  padding: 5px 15px 5px 15px;
  font-size: 12px;
}

/*label */
/* Style pour le nombre total de recettes */
#totalRecipes {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.61px;
  color: #1b1b1b;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.filter {
  position: relative;
  width: 200px;
  z-index: 5;
}

.select-option {
  display: flex;
}

.select-option p {
  display: flex;
  background-color: #ffd15b;
  width: 203px;
  height: 53px;
  align-items: center;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  padding: 16px 10px;
}

.select-option button {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.tag-research {
  display: flex;
  gap: 80px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.filterBtn {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  width: 195px;
  background-color: #fff;
  padding: 16px 10px;
  position: relative;
}

.filterBtnName {
  font-size: 16px;
}

.ingredientsToggleBtn,
.appliancesToggleBtn,
.ustensilsToggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  margin-left: auto;
}

/* Ajout de style pour les icônes chevron-down */
.ingredientsToggleBtn i.fa-chevron-down,
.appliancesToggleBtn i.fa-chevron-down,
.ustensilsToggleBtn i.fa-chevron-down {
  border: none;
}

/* ajout style recherche */
.inputFilterBtn {
  display: none;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filterBtn.active .inputFilterBtn {
  display: flex;
  align-items: center;
  width: 100%;
}

.filterInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}

.filterInput {
  width: 100%;
  height: 36px;
  background: none;
  border: none;
}

.filterInput:focus {
  outline: none;
}

.searchInputButton,
.delete {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #7a7a7a;
}

.appliancesToggleBtn + .filterInput:not(:placeholder-shown) + .closebutton-appliance {
  display: flex;
}

.ustensilsToggleBtn + .filterInput:not(:placeholder-shown) + .closebutton-ustensils {
  display: flex;
}

.ingredientsToggleBtn + .filterInput:not(:placeholder-shown) + .closebutton-ingredients {
  display: flex;
}

.searchInputButton i {
  color: #7a7a7a;
}

.filterBtn.active .filterList {
  display: block;
  height: 315px;
  overflow: auto;
  overflow-x: hidden;
}

.filterBtn.active i.fa-chevron-down::before {
  content: "\f106";
  transform: rotate(180deg);
}

.filterBtn.active {
  display: block;
}

.filterBtn.active i.fa-chevron-down {
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
}

.filterList.hidden {
  display: none;
}

.closebutton-appliance,
.closebutton-ustensils,
.closebutton-ingredients {
  display: none;
  border: none;
  background: none;
  color: #7a7a7a;
}

/*Style listes ingrédents, appareils et ustensils */
#ingredientsList,
#appliancesList,
#ustensilsList {
  margin-top: 13px;
}

#ingredientsList option:hover,
#appliancesList option:hover,
#ustensilsList option:hover {
  background-color: #ffd15b;
}

#ingredientsList,
#appliancesList,
#ustensilsList {
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: transparent transparent; /* Pour Firefox */
}

#ingredientsList::-webkit-scrollbar,
#appliancesList::-webkit-scrollbar,
#ustensilsList::-webkit-scrollbar {
  width: 5px;
}

#ingredientsList::-webkit-scrollbar-thumb,
#appliancesList::-webkit-scrollbar-thumb,
#ustensilsList::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#ingredientsList::-webkit-scrollbar-track,
#appliancesList::-webkit-scrollbar-track,
#ustensilsList::-webkit-scrollbar-track {
  background-color: transparent;
}

.research {
  display: flex;
  align-items: center;
  width: 66.25%;
}

.text {
  position: relative;
  width: 100%;
  height: 72px;
}

.research_text {
  width: 100%;
  height: 72px;
  padding-left: 30px;
  border-radius: 11px;
}

.closebutton-delete {
  position: absolute;
  right: 85px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  border: none;
  background: none;
  color: #7a7a7a;
}

.btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.research .btn {
  --bs-btn-bg: var(--color-dark);
  --bs-btn-color: var(--color-light);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-color: var(--color-dark);
  width: 51px;
  height: 51px;
}

.default:hover {
  display: none;
}

.research_logo-container:hover .hover {
  display: inline;
  margin-left: -48px;
}

/*# sourceMappingURL=style.css.map */
