/*label */
/* Style pour le nombre total de recettes */
#totalRecipes {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.61px;
  color: #1b1b1b;
  margin-left: auto;
  display: flex;
}

.filter {
  position: relative;
  width: 200px;
  z-index: 5;
}

.select-option {
  display: flex;
}

.select-option p {
  display: flex;
  background-color: #ffd15b;
  width: 203px;
  height: 53px;
  align-items: center;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  padding: 16px 10px;
}

.select-option button {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.tag-research {
  display: flex;
  gap: 80px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.filterBtn {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  width: 195px;
  background-color: #fff;
  padding: 16px 10px;
  position: relative;
}

.filterBtnName {
  font-size: 16px;
}

.ingredientsToggleBtn,
.appliancesToggleBtn,
.ustensilsToggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  margin-left: auto;
}

/* Ajout de style pour les icônes chevron-down */
.ingredientsToggleBtn i.fa-chevron-down,
.appliancesToggleBtn i.fa-chevron-down,
.ustensilsToggleBtn i.fa-chevron-down {
  border: none;
}

/* ajout style recherche */
.inputFilterBtn {
  display: none;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filterBtn.active .inputFilterBtn {
  display: flex;
  align-items: center;
  width: 100%;
}

.filterInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}

.filterInput {
  width: 100%;
  height: 36px;
  background: none;
  border: none;
}

.filterInput:focus {
  outline: none;
}

.searchInputButton,
.delete {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #7a7a7a;
}

.appliancesToggleBtn
  + .filterInput:not(:placeholder-shown)
  + .closebutton-appliance {
  display: flex;
}

.ustensilsToggleBtn
  + .filterInput:not(:placeholder-shown)
  + .closebutton-ustensils {
  display: flex;
}

.ingredientsToggleBtn
  + .filterInput:not(:placeholder-shown)
  + .closebutton-ingredients {
  display: flex;
}

.searchInputButton i {
  color: #7a7a7a;
}

.filterBtn.active .filterList {
  display: block;
  height: 315px;
  overflow: auto;
  overflow-x: hidden;
}

.filterBtn.active i.fa-chevron-down::before {
  content: "\f106";
  transform: rotate(180deg);
}

.filterBtn.active {
  display: block;
}

.filterBtn.active i.fa-chevron-down {
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
}

.filterList.hidden {
  display: none;
}

.closebutton-appliance,
.closebutton-ustensils,
.closebutton-ingredients {
  display: none;
  border: none;
  background: none;
  color: #7a7a7a;
}

/*Style listes ingrédents, appareils et ustensils */

#ingredientsList,
#appliancesList,
#ustensilsList {
  margin-top: 13px;
}

#ingredientsList option:hover,
#appliancesList option:hover,
#ustensilsList option:hover {
  background-color: #ffd15b;
}

#ingredientsList,
#appliancesList,
#ustensilsList {
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: transparent transparent; /* Pour Firefox */
}

#ingredientsList::-webkit-scrollbar,
#appliancesList::-webkit-scrollbar,
#ustensilsList::-webkit-scrollbar {
  width: 5px;
}

#ingredientsList::-webkit-scrollbar-thumb,
#appliancesList::-webkit-scrollbar-thumb,
#ustensilsList::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#ingredientsList::-webkit-scrollbar-track,
#appliancesList::-webkit-scrollbar-track,
#ustensilsList::-webkit-scrollbar-track {
  background-color: transparent;
}
