.research {
  display: flex;
  align-items: center;
  width: 66.25%;
}

.text {
  position: relative;
  width: 100%;
  height: 72px;
}
.research_text {
  width: 100%;
  height: 72px;
  padding-left: 30px;
  border-radius: 11px;
}

.closebutton-delete {
  position: absolute;
  right: 85px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  border: none;
  background: none;
  color: #7a7a7a;
}

.btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.research .btn {
  --bs-btn-bg: var(--color-dark);
  --bs-btn-color: var(--color-light);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-color: var(--color-dark);
  width: 51px;
  height: 51px;
}

.default:hover {
  display: none;
}

.research_logo-container:hover .hover {
  display: inline;
  margin-left: -48px;
}
