:root {
  --color-primary: #ffd15b;
  --color-dark: #1b1b1b;
  --color-light: #fff;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 667px;
  text-align: center;
  background: url("/assets/png/background-logo.png") no-repeat;
  background-size: cover;
}

img {
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

main {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, #e5e5e5, #e5e5e5);
  border: 1px solid #0000001a;
  padding: 0 102px;
}

/*header*/
.background-logo {
  height: 667px;
  width: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  width: 207px;
  height: 25.26px;
  top: 51px;
  left: 69px;
}

header > h1 {
  width: 60%;
  font-size: 44px;
  line-height: 66.24px;
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  margin-bottom: 29.42px;
}

.research {
  display: flex;
  justify-content: center;
  width: 66.25%;
}

.research_text {
  width: 100%;
  height: 72px;
  padding-left: 30px;
  border-radius: 11px;
}

.research_logo-container {
  display: flex;
  align-items: center;
}

.research_logo-container .hover {
  display: none;
}

.research .btn {
  --bs-btn-bg: var(--color-dark);
  --bs-btn-color: var(--color-light);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-color: var(--color-dark);
  width: 51px;
  height: 51px;
  margin-left: -61px;
}

.default:hover {
  display: none;
}

.research_logo-container:hover .hover {
  display: inline;
  margin-left: -48px;
}

.reset-research {
  position: absolute;
  display: flex;
  right: 340px;
  top: 20px;
  border: none;
  background: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
