:root {
  --color-primary: #ffd15b;
  --color-dark: #1b1b1b;
  --color-light: #fff;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 667px;
  text-align: center;
  background: url("/assets/png/background-logo.png") no-repeat;
  background-size: cover;
}

img {
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

main {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, #e5e5e5, #e5e5e5);
  border: 1px solid #0000001a;
  padding: 0 102px;
}

/*header*/
.background-logo {
  height: 667px;
  width: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  width: 180px;
  height: 25.26px;
  top: 51px;
  left: 69px;
}

.logo2 {
  position: absolute;
  width: 22.05px;
  height: 21.25px;
  top: 54.78px;
  left: 253.95px;
}

header > h1 {
  width: 60%;
  font-size: 44px;
  line-height: 66.24px;
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  margin-bottom: 29.42px;
}
